{% extends 'fans_base.html' %}
{% block fans_content %}
    <div class="container" align="center">
        <div class="jumbotron">
            <h4 class="display-4">Sam</h4>
            <p class="lead">Architectural design assistant</p>
            <hr class="my-4">
            <p align="center">
                Also known as The Saver of London, came to study and live in Canterbury since 2003. People started to know him because he started to expand his social circle after into workplace. He actively organizes social activities such as bar drinks, outings in the countryside, architectural patrols, etc. The most representative of which is the lavender field journey, created the largest number of participants record among social groups in "Taiwanese in London meetup" group.
            </p>
        </div>
        

{% endblock fans_content %}