{% extends 'base.html' %}
{% block navbar %}
    {% if user.is_authenticated %}
            <a class="nav-link" href="{% url 'blog:article_new' %}">Create Post</a>
        
    {% endif %}
{% endblock navbar %}

{% block content %}
    <header class='container' style='text-align: center; '>
        <h1> <a href="">My Personal Blog</a> </h1>
    </header>
    <div>
    {% for i in object_list %}
        <div class="article" style='text-align: left=30px; left: 30px;'>
            <h3><a href="{% url 'blog:article_detail' i.pk %}">{{ i.title }}</a></h3>
            <p>By <bold>{{ i.author }}</bold>, {{ i.publish_date }}</p>
        </div>
    {% endfor %}
    </div>


{% endblock content %}