<footer class="page-footer text-center font-small mt-4">
  <hr class="my-4">

  <!-- Social icons -->
  <div class="pb-4">
    <a href="https://www.facebook.com/W.D.Chao" target="_blank">
      <i class="fab fa-facebook-f mr-3"></i>
    </a>

    <a href="https://www.linkedin.com/in/wen-ding-chao-797886195" target="_blank">
      <i class="fab fa-linkedin-in mr-3"></i>
    </a>

    <a href="https://github.com/asprince112" target="_blank">
      <i class="fab fa-github mr-3"></i>
    </a>

    <p>Maintained by Oscar Chao</p>
  </div>
